<ion-pane>
	<ion-header-bar class="bar-calm">
		<button class="button icon-left ion-home" ng-click="goHome()"></button>
		<h1 class="title">trollText</h1>
		<button class="button icon-left ion-plus-circled" ng-click="getContactList()"></button>
	</ion-header-bar>
	<ion-content>
		<div ng-repeat="message in messages">
			<div class="card" ng-repeat="name in message | myLimitTo:1" ng-click="processContact('{{ name.number }}', '{{name.friend_name}}')">
				<div class="item item-text-wrap">
					<h1>{{name.friend_name}}</h1><br>
					<h2>{{name.number}}</h2>
				</div>
			</div>
		</div>
	</ion-content>
</ion-pane>
